url_shortener:
  image: url_shortener:latest
  ports:
    - "8084:8084"
  environment:
    - AWS_REGION=us-east-1
    - BIND_ADDRESS=0.0.0.0
    - BIND_PORT=8084
    - BIND_SOCK=/var/run/secrets.sock
