  <script type="text/javascript">
  $(document).ready(function() {
      $('form').submit(function(e) {
          e.preventDefault();
          var self = this;
          if ($(this).serialize() == "full_url=") {
              return false;
          }
          $.ajax({
              type: $(this).data('remote'),
              url: $(this).attr('action'),
              data: $(this).serialize(),
              success: function(data) {
                  $($(self).data('success-target')).html(data);
              }
          });
          document.getElementById('full_url').value = '';
      });
  });
  </script>
  <header>Enter long URL to shorten below.</header>
  <div class="urlbox">
    <form action="/store" data-remote="POST" data-success-target=".stored">
      <textarea type="text" id="full_url" name="full_url" autocomplete="off" placeholder="long link..."></textarea>
      <input type="submit" value="Shorten URL">
    </form>
  </div>
  <div class="stored"></div>
