<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="referrer" content="no-referrer">
  <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>URL Shortner</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/site.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
      $('form').submit(function(e) {
          e.preventDefault();
          var self = this;
          if ($(this).serialize() == "full_url=") {
              return false;
          }
          $.ajax({
              type: $(this).data('remote'),
              url: $(this).attr('action'),
              data: $(this).serialize(),
              success: function(data) {
                  $($(self).data('success-target')).prepend(data);
              }
          });
          document.getElementById('full_url').value = '';
      });
  });
  </script>
</head>
<body>
  <header>Enter dice value to roll below.</header>
  <div class="urlbox">
    <form action="/store" data-remote="POST" data-success-target=".stored">
      <textarea type="text" id="full_url" name="full_url" autocomplete="off" placeholder="long link..."></textarea>
      <input type="submit" value="Shorten URL">
    </form>
  </div>
  <div class="stored"></div>
</body>
</html>
